<div class="wolf-home">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-4"></div>
      <div class="col-4 header-title">
        <h1>Amrit Sidhu</h1>
        <p>This is a wesbite to simply record my learnings</p>
      </div>
    </div>
  </div>
</div>


