<div class="wolf-learning">
  <div class="container">
    <div class="learning-title"><h1>Learning</h1></div>
    <div class="card-columns learning-card">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Java</h5>
          <img class="learning-icons" src="assets/java.png"/>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Ruby</h5>
          <img class="learning-icons" src="assets/ruby.png"/>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Ruby on rails</h5>
          <img class="learning-icons" src="assets/rails.png"/>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Github</h5>
          <a href="/github"><img class="learning-icons" src="assets/github.png"/></a>
        </div>
      </div>
    </div>`
  </div>
</div>